.main-background {
    -fx-background-image: url("../images/nasha-town.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.text-field {
    -fx-background-color: #1A1A1D, #FDF5E6;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-padding: 8;
    -fx-text-fill: black;
    -fx-font-family: "HYWenHei 85W";
}

.text-field:focused {
    -fx-background-color: #7B1113, #FDF5E6;
}

.button {
    -fx-font-family: "HYWenHei 85W";
    -fx-background-color: #8D6E63; /* Dark Bronze/Brown */
    -fx-text-fill: #E0E0E0; /* Light grey text for readability */
    -fx-background-radius: 20;
}

.button:hover {
    -fx-background-color: #5D4037;
    -fx-font-size: 14px;
}

.button:pressed {
    -fx-background-color:orangeW;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane > .viewport, /* Added the '>' and '.' */
#dialogContainer {       /* Ensure your VBox ID is included */
    -fx-background-color: transparent;
    -fx-background: transparent;
}

/* The background/track of the scrollbar */
.scroll-bar {
    -fx-background-color: #1A1A1D; /* Dark charcoal to match text field border */
    -fx-background-insets: 2;
    -fx-padding: 4;
}

/* The actual draggable part (The Thumb) */
.scroll-bar .thumb {
    -fx-background-color: #7B1113;
    -fx-background-insets: 2;
    -fx-background-radius: 5;
}

.scroll-bar .thumb:hover {
    -fx-background-color: #8D6E63;
}

.scroll-bar .thumb:pressed {
    -fx-background-color: #FDF5E6;
}

/* The track background behind the thumb */
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: #5D4037;
    -fx-border-width: 0 0 0 1;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}
